.history-page-title{
  text-align: center;
  font-size: 50px;
  margin: 25px;
  margin-bottom: 30px;
}
.history-center-layout{
  text-align: center;
  font-size: 20px;
  height: 9%;
  background-color: #F7BC50;
  margin: 20px;
  padding: 20px;
  margin-left: 70px;
  margin-right: 70px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.history-row-details:hover {
cursor: pointer;
transition: all 0.4s ease-out;
}

.history-column-details {
  text-align: center;
  float: left;
  width: 22%;
}
.history-column-details2 {
  text-align: center;
  float: left;
  width: 12%;
}

.history-column4 {
  text-align: center;
  float: left;
  width: 33.33%;
  height: 60px;
}
.history-column5 {
  text-align: center;
  float: left;
  width: 33.33%;
  height: 60px;
}
.history-column6 {
  text-align: center;
  float: left;
  width: 33.33%;
  height: 60px;
}

.history-column3 {
  text-align: left;
  float: left;
  width: 40%;
  height: 60px;
}
.history-column2 {
  text-align: right;
  float: left;
  width: 40%;
  height: 60px;
}
.history-column1 {
  text-align: center;
  float: left;
  width: 20%;
  height: 60px;
}

.history-row2:after {
  
  content: "";
  display: table;
  clear: both;
}
/* Clear floats after the columns */
.history-row:after {
  content: "";
  display: table;
  clear: both;
}
.history-row-details:after {
  content: "";
  display: table;
  clear: both;
}


/*ToDo Items*/
.history-items {
  display: flex;
  max-width: 1150px;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: #f0f0f0;
  margin: 2rem 0;
  border-radius: 8px;
}

.history-texts {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-left: 1rem;
}

.history-todo-text {
  word-break: break-all;
  font-weight: bold;
  font-size: 1.2rem;
  color: black;
}

.history-todo-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}