.bodyPage {
  height: 100vh;
  width: 100%;
  margin: 0;
}

.blankPageTop {
  padding-top: 700px;
}

.blankPageBottom {
  padding-bottom: 5%;
}

.RiderSignInMain {
  float: left;
  height: 100%;
  padding-left: 100px;
}

.text_SignIn {
  text-align: center;
  font-family: "Inter";
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
}

.text_TagLine {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  text-align: center;

  color: #747474;
}

.text_Labels {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  text-align: left;
  margin: 0;
  padding: 0;

  color: #747474;
}

.text_LabelL {
  font-family: "Roboto";

  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  text-align: center;

  color: #000000;
}

.button_SignUp {
  width: 200px;
  height: 40px;
  background: #f7bc50;
  border: 3px solid #ffffff;
  border-radius: 15px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.button_SignIn {
  margin-top: 70px;
  width: 70px;
  height: 70px;
  color: #f7bc50;
  float: right;
  cursor: pointer;
}

.Rider_signin_button_Home {
  margin-top: 20px;
  width: 200px;
  height: 70px;
  size: 50px;
  color: #f7bc50;
  float: left;
  cursor: pointer;
}

.columnR {
  float: left;
  width: 70%;
  height: 100%;
  /* padding-top: 50px; */
  padding-left: 100px;
  padding-right: 100px;

  background: white;
}

.columnL {
  float: left;
  height: 100%;
  width: 30%;

  background: #f7bc50;
}

.innercolumnL {
  width: 50%;
  float: left;
}

.innercolumnR {
  width: 50%;
  float: left;
}

.textfield {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.textfieldL {
  width: 95%;
  padding-top: 12px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.textfieldR {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.columnR_SignUp2{
  float: left;
  background: #f7bc50;
  margin-right: 5;
  
}


.RowPrperty{
  margin-left: 5px;
}
.cardProperty{
  align-items:center;
  justify-items: center;
  align-self: center;
  width: 120px;
  height: 170px;
  text-align: center;
  font-weight: 800px;
  background: #f7bc50;
}

.bodyPage_SignUpPage2 {
  height: 100vh;
  width: 100%;
  margin: 0;
}

.Rider_Signin_LeftPaneButton{
  margin-top: 20px;
}