.page-title{
    text-align: center;
    font-size: 50px;
}
.center-layout{
    text-align: center;
    font-size: 20px;
    height: 9%;
    background-color: #F7BC50;
    margin: 20px;
    margin-left: 70px;
    margin-right: 70px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.center-layout:hover {
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.column-details {
    text-align: center;
    float: left;
    width: 25%;
  }



  .column-details1 {
    margin-left: 20px;
    text-align: center;
    float: left;
    width: 25%;
  }

  .column-details3 {
    text-align: center;
    float: left;
    width: 25%;
  }

  .column-details4 {
    margin-right: -10%;
    margin-left: -10%;
    text-align: center;
    float: left;
    width: 25%;
  }

.column {
    text-align: center;
    float: left;
    width: 33.33%;
    height: 60px;
  }

  .column3 {
    text-align: left;
    float: left;
    width: 40%;
    height: 60px;
  }
  .column2 {
    text-align: right;
    float: left;
    width: 40%;
    height: 60px;
  }
  .column1 {
    text-align: center;
    float: left;
    width: 20%;
    height: 60px;
  }

  .row2:after {
    
    content: "";
    display: table;
    clear: both;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .row-details:after {
    content: "";
    display: table;
    clear: both;
  }

  
  /*ToDo Items*/
  .items {
    display: flex;
    max-width: 1150px;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: #f0f0f0;
    margin: 2rem 0;
    border-radius: 8px;
  }

  .texts {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-left: 1rem;
  }
  
  .todo-text {
    word-break: break-all;
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
  }

  .todo-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .Display_Offer_List{
    padding-bottom: 30px;
  }